/* COLORS */
.bg-primary {
  background-color: #2298e1 !important;
}

.pull-right {
  float: right;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #757575;
}

/* HEADER */
.logo {
  display: block;
  margin: 0 auto;
  padding: 15px;
}
/* SEARCH BAR */
.no-border {
  color: #495057;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 1rem;
}
.form-control:focus {
  border: none;
  box-shadow: none;
}

.text-dark {
  color: #757575 !important;
}

/* CARD */
ul {
  padding: 0;
}
h5.card-header a {
  color: #000;
}
.card-header {
  padding: 1rem;
  background: none;
  /* border-bottom: none; */
}
.card-header i.material-icons {
  transition: 0.3s transform ease-in-out;
  transform: rotate(180deg);
  color: #757575;
}
.card-header .collapsed i.material-icons {
  transform: rotate(0deg);
  color: #d7d7d7;
}
.card {
  break-inside: avoid;
  /* padding: 24px; */
  border: 1px solid #d3ddde;
  border-radius: 4px;
  box-shadow: 4px 4px 10px #d3ddde;
  margin: 15px;
}
.card-body {
  padding: 0;
}
.list-group-item {
  border-left: none;
  border-right: none;
  border-bottom: none;
}
/* ******************** */
/* QUESTIONS PAGE */
/* ******************** */
.back-button {
  font-size: 1.3rem;
  color: #000;
}